/**** GENERAL STYLES ****/

header {
    text-align: center;
    padding: 20px 0px -5px 0px;
}

html {
    background-image: linear-gradient(45deg, rgba(52.9,48.6,76.1,1), rgba(85.1,77.3,27.8,1));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
    height: auto;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

p, a, div, span, h1, h3, h4 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h3 {
}

/**** QUEUE PAGE STYLES ****/

.queue-section {
    display: inline-block;
    padding: 20px;
}

/**** GAME PAGE STYLES ****/

#ruleset, #match-score {
    margin: auto;
}

.player-info {
    display: inline-block;
    padding: 20px;
    border: 2px solid black;
    margin: 10px 10px 20px 10px;
}

#match-chat-content {
    margin: auto;
    width: 30%;
}

#match-chat-log {
    height: 100px;
    background: white;
    padding: 5px;
    overflow-y: scroll;
}

.match-chat-message {
    text-align: left;
    text-shadow: none;
    color: black;
    margin: 0;
}

.match-chat-player {
    text-align: left;
    text-shadow: none;
}

.match-chat-current-player {
    color: orange;
}

.match-chat-opponent-player {
    color: black;
}

.stage {
    display: none;
}

.stage-selectable {
    display: inline-block;
}

.stage h3 {
    height: 50px;
    margin: 10px 5px 0px 5px;
}

/*.selected {
  border: 3px solid red;
}

.playable-selected {
  border: 3px solid green;
}*/


.stage {
    width: 160px;
    height: 225px;
    border: 2px solid black;
    margin: 10px;
}

.stage-selectable:hover {
    border: 2px solid white;
}

.stage-selected {
    border: 2px solid red;
}

.selected-strike {

}

.stage-stricken h3, .stage-stricken img {
    opacity: 0.5;
}

#strike-content, #map-select {
    margin: 10px 0;
}

/**** USER PROFILE ****/

#user-info-section {
    display: inline-block;
    width: 50%;
    margin: auto;
}

#user-profile-picture {
    width: 150px;
    border-radius: 50%;
}

#user-match-info {
    display: inline-block;
    width: 50%;
    margin: auto;
}

#user-rank-info {
    display: block;
}

#user-match-history {
    display: block;
    width: 80%;
    margin: auto;
    outline: 2px solid black;
}

.match-row {
    display: flex;
    outline: 1px solid black;
}

.match-row div {
    width: 100%;
    padding: 10px 5px;
}

.rating-positive {
    color: green;
}

.rating-negative {
    color: red;
}

/**** LEADERBOARD STYLES ****/

#leader-board-options {
    margin: 10px 10px 20px 10px;
}

.leader-board-options-section {
    margin: 10px 5px;
}

#leader-board-filter-label {
    display: inline-block;
}

#leader-board {
    display: block;
    width: 50%;
    margin: auto;
    outline: 2px solid black;
}

.leader-board-row {
    display: flex;
    outline: 1px solid black;
}

.leader-board-row div {
    width: 100%;
    padding: 10px 5px;
}