/**** GENERAL STYLES ****/

header {
    text-align: center;
    padding: 20px 0px -5px 0px;
}

html {
    background-image: linear-gradient(45deg, rgba(52.2,47.5,76.1,1), rgba(87.5,78.8,19.8,1));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
    height: auto;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

p, div, span, h1, h3 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h3 {
}

/**** QUEUE PAGE STYLES ****/

.queue-section {
    display: inline-block;
    padding: 20px;
}

/**** GAME PAGE STYLES ****/

#ruleset, #match-score {
    margin: auto;
}

.player-info {
    display: inline-block;
    padding: 20px;
    border: 2px solid black;
    margin: 10px 10px 20px 10px;
}

#match-chat-content {
    margin: auto;
    width: 30%;
}

#match-chat-log {
    height: 100px;
    background: white;
    padding: 5px;
}

#match-chat-log p {
    text-align: left;
    text-shadow: none;
    color: black;
    margin: 0;
}

.stage {
    display: inline-block;
}

.stage h3 {
    height: 50px;
    margin: 10px 5px 0px 5px;
}

/*.selected {
  border: 3px solid red;
}

.playable-selected {
  border: 3px solid green;
}*/


.stage {
    width: 160px;
    height: 225px;
    border: 2px solid black;
    margin: 10px;
}

.stage-selectable:hover {
    border: 2px solid white;
}

.stage-selected {
    border: 2px solid red;
}

.selected-strike {

}

.stage-stricken h3, .stage-stricken img {
    opacity: 0.5;
}

#strike-content, #map-select {
    margin: 10px 0;
}