/**** GENERAL STYLES ****/

header {
    width: 100%;
}

html {
    background-image: linear-gradient(45deg, rgba(52.9,48.6,76.1,1), rgba(85.1,77.3,27.8,1));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
    height: auto;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

p, a, div, span, h1, h3, h4 {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
    text-decoration: none;
    color: #dbc639;
}

a:hover {
    color: #6858c2;
}

h3 {
}

.button {
    width: 100px;
    padding: 10px;
    border-radius: 3px;
    background: #dbc639;
    margin: auto;
}

.button:hover {
    background: #6858c2;
    cursor: pointer;
}

.input-button {
    display: none;
}

label {
    display: inline-block;
}

.main-content {
    width: 50%;
    margin: auto;
}

input[type="text"] {
    height: 35px;
    border-radius: 3px;
    margin-bottom: 10px;
    background: #363636;
    color: white;
}

select {
    margin-bottom: 10px;
    border-radius: 3px;
    background: #363636;
    height: 40px;
    width: 100px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/**** HEADER MENU ****/

#site-header-container {
    width: 100%;
    height: 50px;
    /*background: url('./assets/images/header-background.png');
    background-repeat: reapeat;
    background-size: contain;*/
    background: #dbc639;
}

#site-header-home-button {
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

#site-header-logo img {
    width: 40px;
    border: 2px solid #6858c2;
    border-radius: 50%;
}

#site-header-logo img:hover {
    opacity: 0.5;
}

#site-header-page-links {
    margin: auto;
}

#site-header-profile-links {
    width: 33%;
    margin: auto;
}

#header-profile-icon {
    height: 45px;
}

.header-button {
    background: #dbc639;
    width: 120px;
    height: 35px;
    display: inline-block;
    padding-top: 15px;
}

.header-button:hover {
    background: #6858c2;
    cursor: pointer;
}

.header-button a {
    color: white;
}

.header-button a:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/**** INDEX PAGE STYLES ****/
.index-link {
    display: block;
    margin: 20px;
}

.index-logged-in-link {
    display: none;
}

#index-match-div {
    display: none;
}

#login-content {
    width: 50%;
    margin: auto;
}

#user-login {
    display: block;
    width: 100px;
    margin: 10px auto;
}

#guest-login {
    width: auto;
}


#announcements-content {
    width: 50%;
    margin: auto;
}

#next-announcement {
    display: none;
    width: 75%;
    margin: auto;
    outline: 2px solid #6858c2;
    padding: 10px;
}

#upcoming-announcements {
    display: none;
    width: 75%;
    margin: auto;
}

.announcement-date {
    color: lightgray;
    font-size: 14px;
}

.announcement-icon {
    max-width: 150px;
    border-radius: 50%;
}

.upcoming-announcement {
    outline: 2px solid #6858c2;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 30%;
}

/**** QUEUE PAGE STYLES ****/

#competetive-queue, #casual-queue {
    display: none;
}

.queue-section {
    display: inline-block;
    padding: 20px;
}

#queue-info {
    display: none;
    margin: auto;
    width: 50%;
}

#recent-matches {
    display: none;
    width: 50%;
    margin: auto;
}

#recent-matches-list {
    outline: 2px solid #6858c2;
}

#ranked-match-ready-non-modal {
    display: none;
}

/**** GAME PAGE STYLES ****/

#match-container {
    display: none;
}

#ruleset, #match-score {
    margin: auto;
}

.player-info {
    display: inline-block;
    padding: 20px;
    border: 2px solid #6858c2;
    margin: 10px 10px 20px 10px;
    width: 200px;
}

#player1-in-game-name, #player2-in-game-name {
    display: block;
    margin: 10px;
}

/* No hover effect by default so we can set it when there's a link */
#player1-in-game-name:hover, #player2-in-game-name:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* Hover effect when link attribute is set */
#player1-in-game-name[href]:hover, #player2-in-game-name[href]:hover {
    color: #6858c2;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#player1-discord-name, #player2-discord-name {
    display: none;
}

#player1-avatar, #player2-avatar {
    width: 150px;
    border-radius: 50%;
}

.player-rank {
    margin: 10px;
    width: 50px;
}

#confirmation-message {
    display: none;
}

#match-chat-content {
    margin: auto;
    width: 30%;
}

#match-chat-log {
    height: 100px;
    background: #363636;
    padding: 5px;
    overflow-y: scroll;
    margin: 10px 0px 15px 0px;
}

#match-chat-input {
    width: 90%;
}

.match-chat-message {
    text-align: left;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    margin: 0;
    word-wrap: break-word;
}

.match-chat-player {
    text-align: left;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.match-chat-current-player {
    color: #dbc639;
}

.match-chat-opponent-player {
    color: #6858c2;
}

.match-chat-system {
    color: grey;
}

.match-chat-moderator {
    color: purple;
}

#player-raise-dispute {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#player-need-help {
    display: block;
}

#player-need-help:hover {
    cursor: pointer;
}

#player-raise-dispute-button {
    display: none;
}

.stage-selectable {
    display: inline-block;
}

.stage h3 {
    height: 50px;
    margin: 10px 5px 0px 5px;
}

/*.selected {
  border: 3px solid red;
}

.playable-selected {
  border: 3px solid green;
}*/


.stage {
    width: 160px;
    height: 225px;
    border: 2px solid #6858c2;
    margin: 10px;
    display: inline-block;
}

.stage-selectable:hover {
    cursor: pointer;
    border: 2px solid #dbc639;
}

.stage-unselectable {
    display: none;
}

.stage-selected {
    border: 2px solid red;
}

.selected-strike {

}

.stage-stricken {
    border: 2px solid grey;
}

.stage-stricken h3, .stage-stricken img {
    opacity: 0.5;
}

#strike-content, #map-select {
    margin: 10px 0;
}

#current-striker {
    margin: 10px;
}

#strike-content {
    display: none;
}

#strike-info {
    margin: 10px;
}

#select-map-message {
    display: none;
}

#playing-stage {
    margin: 10px;
    display: none;
}

.player-victory-button {
    display: none;
}

#requeue-button {
    display: none;
}

#admin-content {
    display: none;
}

#player-resolve-content {
    display: none;
    margin: 20px;
}

#qualifier-image {
    width: 30px;
}

#confirm-map-selection {
    width: 150px;
}

#leave-match-button {
    width: 150px;
}

/**** USER PROFILE ****/

#profile-content {
    display: none;
}

#user-info-section {
    display: inline-block;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

#user-profile-picture {
    width: 150px;
    border-radius: 50%;
}

#user-in-game-name.editing {
    display: none;
}


#user-profile-edit-name:hover {
    cursor: pointer;
}

#user-profile-edit-name-form {
    display: none;
}

#user-profile-edit-name-form.editing {
    display: block;
}

#user-profile-name-submit {
    width: 150px;
    margin: 10px auto;
}

#user-profile-edit-close {
    cursor: pointer;
}

#user-profile-edit-country:hover {
    cursor: pointer;
}

#user-country.editing {
    display: none;
}

#user-profile-edit-country-form {
    display: none;
    margin: 10px;
}

#user-profile-edit-country-form.editing {
    display: block;
}

#user-country-edit-close {
    cursor: pointer;
}

#user-rank-info {
    display: none;
}

#user-rank {
    width: 30px;
}

#user-ban-details {
    display: none;
}

#user-match-info {
    display: inline-block;
    width: 50%;
    margin: auto;
}

#user-match-history {
    display: block;
    width: 80%;
    margin: auto;
    outline: 2px solid #6858c2;
}

.match-row {
    display: flex;
    outline: 1px solid #6858c2;
}

.match-row div {
    width: 100%;
    padding: 10px 5px;
}

.rating-positive {
    color: green;
}

.rating-negative {
    color: red;
}

#user-rating-graph-options {
    margin-bottom: 10px;
}

#user-graph text {
    text-shadow: none;
}

#user-rating-graph {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

/**** MOBILE STLYES ****/
@media only screen and (max-width: 600px) {
    #user-match-history {
        width: 100%;
    }

    .match-row {
        display: block;
    }
}

/**** LEADERBOARD STYLES ****/

#leaderboard-header {
    margin: 10px 10px 20px 10px;
}

.leaderboard-header-section {
    margin: 10px 5px;
}

#leaderboard-filter-label {
    display: inline-block;
}

#leaderboard {
    display: block;
    width: 50%;
    margin: auto;
    outline: 2px solid #6858c2;
}


#leaderboard {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    outline: 2px solid #6858c2;
}

.leaderboard-row {
    display: flex;
    outline: 1px solid #6858c2;
}

.leaderboard-row div {
    width: 100%;
    padding: 10px 5px;
}

#leaderboard-footer {
    display: block;
}

#leaderboard-header-divider, #leaderboard-footer-divider {
    display: inline-block;
    width: 10%;
}

.page-prev, .page-next {
    cursor: pointer;
}

/**** USER SEARCH STYLES ****/

#user-search-results {
    width: 50%;
    margin: auto;
}

.user-search-rank-icon {
    width: 30px;
}

.user-search-row {
    display: inline-block;
    padding: 20px;
    border: 2px solid #6858c2;
    margin: 10px 10px 20px 10px;
    width: 200px;
}

.user-search-avatar {
    width: 150px;
    border-radius: 50%;
}

.user-search-no-results {
    margin: 20px;
}

/**** ABOUT/INFO STYLES ****/
#info-container {
    width: 65%;
    margin: auto;
}

#language-section .button, #section-tabs .button {
    display: inline-block;
    margin: 0;
}

/* temp */
#info-japanese {
    cursor: auto;
    background: grey;
}

#section-tabs .button {
    width: 150px;
}

#section-tabs .active {
    cursor: auto;
    background: grey;
}

.content-section {
    text-align: left;
}

#section-match-rules, #section-site-rules {
    display: none;
}

#section-tabs {
    margin: 10px;
}

.about-link, .match-rules-link, .site-rules-link {
    cursor: pointer;
}

/**** MODAL STYLES ****/
.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: fixed;
    top: 20%;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;

    background-image: linear-gradient(45deg, rgba(52.9,48.6,76.1,1), rgba(85.1,77.3,27.8,1));
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.modal .flex {
    display: flex;
    align-self: end;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-open {
    position: absolute;
    bottom: 150px;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

/**** MOBILE STLYES ****/
@media only screen and (max-width: 600px) {
    #leaderboard {
        width: 100%;
    }

    .leaderboard-row {
        display: block;
    }

}

/**** ADMIN STYLES ****/
#admin-disputed-matches {
    display: none;
}

#admin-disputed-matches-list {
    display: block;
    width: 50%;
    margin: auto;
    outline: 2px solid #6858c2;
}

.disputed-match-row {
    display: flex;
    outline: 1px solid #6858c2;
}

.admin-disputed-match-players {
    display: block;
    width: 100%;
    padding: 10px 5px;
}

.admin-disputed-match-action {
    display: inline-block;
    width: 100%;
    padding: 10px 5px;
}

.admin-dispute-resolve {
    margin: 0px 5px;
}

#admin-profile {
    display: none;
    margin-bottom: 20px;
}

#admin-ban-user:hover {
    cursor: pointer;
}

#admin-ban-user-content {
    display: none;
}

#admin-unban-user-content {
    display: none;
}

#admin-player1, #admin-player2 {
    display: none;
}

#admin-unban-player1-content, #admin-unban-player2-content {
    display: none;
}